    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Home Sales Engine</a>
            </li>
            <li>
                <a href="#" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#" onclick=$("#menu-close").click();>Products</a>
            </li>
            <li>
                <a href="#" onclick=$("#menu-close").click();>Demo</a>
            </li>
            <li>
                <a href="#" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Home Sales Engine</h1>
            <h3>The Easy way to find out the price of your home</h3>
            <br>
            <div class="input-group">
    <input type="text" class="form-control" size="35">
   <span class="input-group-btn">
        <button class="btn btn-success" type="button">Submit</button>
   </span>
</div>
            
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Home Sales Engine is a revolutionary</h2>
                    <p class="lead"> I wanted to feel prepared before I talked to any real estate sales agents. And not only did HSE get me the info I wanted but after I joined they send you real comps and give you a real good estimate and the best part was it was free!</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1></h1>
        </div>
    </aside>

    

    

    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Home Sales Engine, LLC</strong>
                    </h4>
                    <p>3898 Jacob Lake Circle
                        <br>Las Vegas, NV 89118</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +1-858-228-6966</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:sales@lytepost.com">Information@homesalesengine.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Home Sales Engine, LLC. All Rights Reserved. 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    
</script>
